.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */

    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.sidenav-link {
    align-self: flex-end;
    content: '\02795';
    background-color: #222;
    color: #eee;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible {
    content: '\02795';
    background-color: #222;
    color: #eee;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #eee;
    float: right;
    margin-left: 5px;
}

.active, .collapsible:hover {
    background-color: #333;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.gate {
	cursor: pointer;
}

.active, .gate:hover {
	background-color: #777;
}
