.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */

    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.sidenav-link {
    align-self: flex-end;
    content: '\02795';
    background-color: #222;
    color: #eee;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.io {
    content: '\02795';
    background-color: #222;
    color: #eee;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible {
    content: '\02795';
    background-color: #222;
    color: #eee;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.comptab {
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 400px;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.undo{
    width: 50px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 248px;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.redo{
    width: 50px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 298px;;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.reset{
    width: 50px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 345px;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #eee;
    float: right;
    margin-left: 5px;
}

.active, .collapsible:hover {
    background-color: #333;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.gate {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    width: 100%;
    cursor: pointer;
}

.tooltip {
  cursor: pointer;
}

.active, .tooltip:hover {
	background-color: #777;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  float: right;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  position: fixed;
  z-index: 1;
  bottom: 55%;
  left: 12%;
}

.area {
   position: absolute;
   z-index: 0;
}
