div.fixed {
height: 50px;
width: 100px;
position: fixed;
z-index: 1;
bottom: 10px;
left: 0;
border: 3px solid #A9A9A9;
}

textarea.fixed{
position: fixed;
left: 50px;
right: 1000px;
top: 200px;
width: 50%;
white-space: pre;
max-width: 30%;
max-height: 40%;
border: 1px solid #AAAAAA;
}
